.main_image,
.main_title,
.section_title,
.section_text,
.quote_text,
.criterias_container,
.quote_footer {
  margin-bottom: var(--margin-bottom-small);
}

.main_header {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.8)),
    url("../../public/images/lexique.webp");
  background-size: cover;
  background-position: center;
  margin-bottom: var(--margin-bottom-large);
  height: 15rem;
  position: relative;
}

.main_title {
  color: white;
  font-size: var(--40px);
  font-weight: 300;
  text-shadow: 2px 2px 20px rgb(20, 26, 51, 0.3);
  padding: 0 var(--24px) 0 var(--24px);
  position: absolute;
  bottom: 0;
}

.main_article {
  padding: 0 var(--24px) 0 var(--24px);
  margin: 0 auto var(--margin-bottom-large) auto;
  max-width: var(--max-width-content);
}

.article_section {
  line-height: 1.75;
  margin-bottom: var(--margin-bottom-large);
}

.section_title {
  font-weight: 700;
}

.section_quote {
  background-color: var(--background-light-wrapper);
  border-radius: var(--border-radius);
  font-size: var(--16px);
  margin-bottom: var(--margin-bottom-large);
  padding: var(--24px);
  width: 100%;
}

.quote_icon {
  background-color: var(--light-light-variation-deco-border);
  border-radius: 100%;
  box-shadow: var(--box-shadow-basic-values);
  margin: 0 auto var(--margin-bottom-small) auto;
  padding: 0.75rem;
}

.quote_subtitle {
  font-size: var(--20px);
}

.section_quote .quote_subtitle:not(:first-of-type) {
  margin-top: var(--24px);
}

.criterias_container {
  padding-left: var(--24px);
}

.criteria {
  list-style: circle;
}

.bg_wrapper {
  /* background: url("../public/images/bg-mobile.svg") center no-repeat; */
  background-color: var(--background-light-wrapper);
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 2px;
}

/** MEDIA QUERIES **/
@media all and (min-width: 376px) and (max-width: 767px) {
  .main_title {
    font-size: 3rem;
  }
}

@media all and (min-width: 768px) {
  .main_title,
  .main_article {
    padding: 0 var(--48px) 0 var(--48px);
  }

  .main_title {
    font-size: 4rem;
  }

  .section_title {
    font-size: var(--28px);
    font-weight: 900;
  }
}

@media all and (min-width: 1024px) {
  .main_title {
    font-size: 5rem;
  }

  .main_header {
    height: 25rem;
  }
}

@media all and (min-width: 1440px) {
  .main_title,
  .main_article {
    padding: 0 var(--64px) 0 var(--64px);
  }

  .main_article:not(:first-child) {
    margin-bottom: var(--64px);
  }
}
