.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--10px) var(--24px);
  position: absolute;
  z-index: 1;
  width: 100%;
  /* max-width: var(--max-width); */
}

.header_logo {
  width: 48px;
}

.button_nav {
  background-color: transparent;
  border: none;
  outline: none;
}

.header_opennavicon {
  transition: all ease-in-out 500ms;
  width: 38px;
  height: 38px;
}

.header_opennavicon:hover {
  cursor: pointer;
  transform: rotate3d(0, 0, 1, 90deg);
}

/** MEDIA QUERIES **/
@media all and (min-width: 768px) {
  .header {
    padding: var(--24px) var(--48px);
  }
}
