.main_image,
.section_title,
.section_text,
.figure_left {
  margin-bottom: var(--margin-bottom-small);
}

.main_header {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.8)),
    url("../../public/images/tkd.webp");
  background-size: cover;
  background-position: center;
  margin-bottom: var(--margin-bottom-large);
  height: 15rem;
  position: relative;
}

.main_title {
  color: white;
  font-size: var(--40px);
  font-weight: 300;
  text-shadow: 2px 2px 20px rgb(20, 26, 51, 0.3);
  margin-bottom: var(--margin-bottom-small);
  padding: 0 var(--24px) 0 var(--24px);
  position: absolute;
  bottom: 0;
}

.article_section {
  line-height: 1.75;
  margin: 0 auto var(--margin-bottom-large) auto;
  padding: 0 var(--24px) 0 var(--24px);
  display: flow-root;
  max-width: var(--max-width-content);
}

.section_quote {
  background-color: var(--background-light-wrapper);
  border-radius: var(--border-radius);
  font-size: var(--20px);
  font-style: italic;
  margin-bottom: var(--margin-bottom-large);
  padding: var(--24px);
  text-align: center;
  width: 100%;
}

.quote_icon {
  background-color: var(--light-light-variation-deco-border);
  border-radius: 100%;
  box-shadow: var(--box-shadow-basic-values);
  margin: 0 auto var(--margin-bottom-small) auto;
  padding: 0.75rem;
}

.section_title {
  font-weight: 900;
}

.section_subcontainer {
  display: flex;
  flex-direction: column;
  gap: var(--margin-bottom-small);
  margin-bottom: var(--margin-bottom-small);
}

.section_image {
  border-radius: var(--border-radius);
  margin: auto;
}

.img_caption {
  color: var(--light-dark-variation-text);
  font-size: 12px;
  margin-bottom: var(--16px);
  text-align: center;
}

.card_header {
  background-size: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-position: center;
  margin-bottom: var(--16px);
  height: 10rem;
  position: relative;
}

.card_header_poomsae {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.8)),
    url("../../public/images/le-taekwondo/TKDPoomsae.webp");
}

.card_header_combat {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.8)),
    url("../../public/images/le-taekwondo/TKDCombat.webp");
}

.card_header_hoshinsoul {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.8)),
    url("../../public/images/le-taekwondo/TKDHo.webp");
}

.card_title {
  color: white;
  font-size: var(--18px);
  font-weight: 700;
  text-shadow: 2px 2px 20px rgb(20, 26, 51, 0.3);
  margin-bottom: var(--16px);
  padding: 0 var(--24px) 0 var(--24px);
  position: absolute;
  bottom: 0;
}

.card_container {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-basic);
  display: flex;
  flex-direction: column;
  margin-bottom: var(--24px);
}

.card_text {
  padding: 0 var(--24px) var(--16px) var(--24px);
}

.bg_wrapper {
  /* background: url("../public/images/bg-mobile.svg") center no-repeat; */
  background-color: var(--background-light-wrapper);
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 2px;
}

.cards_container {
  display: flex;
  flex-direction: column;
  gap: var(--16px);
}

/** MEDIA QUERIES **/
@media all and (min-width: 376px) and (max-width: 767px) {
  .main_title {
    font-size: 3rem;
  }
}

@media all and (min-width: 768px) {
  .main_title,
  .article_section {
    padding: 0 var(--48px) 0 var(--48px);
  }

  .main_title {
    font-size: 4rem;
  }

  .section_title {
    font-size: var(--24px);
    font-weight: 900;
  }

  .figure_left,
  .figure_right,
  .figure_center {
    margin: auto;
    width: 80%;
  }

  .cards_container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
  }
}

@media all and (min-width: 900px) {
  .cards_container {
    justify-content: center;
    gap: var(--32px);
    width: 100%;
  }

  .card_container {
    max-width: 40%;
  }
}

@media all and (min-width: 1024px) {
  .main_title {
    font-size: 5rem;
  }

  .main_header {
    height: 25rem;
  }

  .card_container {
    max-width: 30%;
  }
}

@media all and (min-width: 1440px) {
  .main_title,
  .article_section {
    padding: 0 var(--64px) 0 var(--64px);
  }

  .article_section:not(:first-child) {
    margin-bottom: var(--64px);
  }
}
