.main_image,
.section_title,
.section_text {
  margin-bottom: var(--16px);
}

.main_header {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.8)),
    url("../../public/images/AICover.jpeg");
  background-size: cover;
  background-position: center;
  margin-bottom: var(--16px);
  height: 15rem;
  position: relative;
}

.main_title {
  color: white;
  font-size: var(--40px);
  font-weight: 300;
  text-shadow: 2px 2px 20px rgb(20, 26, 51, 0.3);
  margin-bottom: var(--16px);
  padding: 0 var(--24px) 0 var(--24px);
  position: absolute;
  bottom: 0;
}

.article_section {
  line-height: 1.75;
  margin-bottom: 3rem;
  padding: 0 var(--24px) 0 var(--24px);
}

.section_title {
  font-size: var(--20px);
  font-weight: 900;
}

.section_image {
  border-radius: var(--border-radius);
  margin-bottom: var(--16px);
}

.board_container {
  display: flex;
  gap: var(--24px);
  margin-top: var(--32px);
  margin-bottom: var(--32px);
}

.board_avatar {
  border-radius: 50%;
  box-shadow: var(--box-shadow-default);
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.board_infos {
  width: 65%;
}

.board_position {
  font-size: var(--18px);
  font-weight: 900;
}

.board_name {
  font-size: var(--18px);
  font-weight: 700;
}

.bg_wrapper {
  /* background: url("../public/images/bg-mobile.svg") center no-repeat; */
  background-color: var(--background-light-wrapper);
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 2px;
}

/** MEDIA QUERIES **/
@media all and (min-width: 376px) and (max-width: 767px) {
  .main_title {
    font-size: 3rem;
  }
}

@media all and (min-width: 768px) {
  .main_title,
  .article_section {
    padding: 0 var(--48px) 0 var(--48px);
  }

  .main_title {
    font-size: 4rem;
  }

  .section_title {
    font-size: var(--24px);
    font-weight: 900;
  }
}

@media all and (min-width: 1024px) {
  .main_title {
    font-size: 5rem;
  }
}
