.main_image,
.section_date,
.section_text,
.figure_left {
  margin-bottom: var(--margin-bottom-small);
}

.main_header {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.8)),
    url("../../public/images/news.webp");
  background-size: cover;
  background-position: center;
  margin-bottom: var(--margin-bottom-large);
  height: 15rem;
  position: relative;
}

.main_title {
  color: white;
  font-size: var(--40px);
  font-weight: 300;
  text-shadow: 2px 2px 20px rgb(20, 26, 51, 0.3);
  margin-bottom: var(--margin-bottom-small);
  padding: 0 var(--24px) 0 var(--24px);
  position: absolute;
  bottom: 0;
}

.article_section {
  line-height: 1.75;
  margin: 0 auto var(--margin-bottom-small) auto;
  padding: 0 var(--24px) 0 var(--24px);
  display: flow-root;
  max-width: var(--max-width-content);
}

.article_section:is(:last-child) {
  margin-bottom: var(--margin-bottom-large);
}

.section_title {
  font-weight: 900;
}

.section_subtitle {
  font: 700;
  font-size: var(--20px);
}

/** MEDIA QUERIES **/
@media all and (min-width: 376px) and (max-width: 767px) {
  .main_title {
    font-size: 3rem;
  }
}

@media all and (min-width: 768px) {
  .main_title,
  .article_section {
    padding: 0 var(--48px) 0 var(--48px);
  }

  .main_title {
    font-size: 4rem;
  }

  .section_title {
    font-size: var(--24px);
    font-weight: 900;
  }
}

@media all and (min-width: 1024px) {
  .main_title {
    font-size: 5rem;
  }

  .main_header {
    height: 25rem;
  }
}

@media all and (min-width: 1440px) {
  .main_title,
  .article_section {
    padding: 0 var(--64px) 0 var(--64px);
  }

  .article_section:not(:first-child) {
    margin-bottom: var(--64px);
  }
}
