.footer {
  background-color: var(--light-darkest-variation-title);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--32px) var(--24px) var(--32px) var(--24px);
}

.infos_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 70%;
}

.infos_title {
  font-size: var(--18px);
  font-weight: 700;
  margin-bottom: var(--16px);
}

.infos_title,
.infos_address {
  color: white;
}

.social_fb {
  border-radius: 10px;
  width: 48px;
}

/** MEDIA QUERIES **/
@media all and (min-width: 768px) {
  .footer {
    padding: var(--32px) var(--48px) var(--32px) var(--48px);
  }
}
