.section_title,
.section_text {
  margin-bottom: var(--16px);
}

.main_header {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.8)),
    url("../../public/images/infos.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: var(--margin-bottom-large);
  height: 15rem;
  position: relative;
}

.main_title {
  color: white;
  font-size: var(--40px);
  font-weight: 300;
  text-shadow: 2px 2px 20px rgb(20, 26, 51, 0.3);
  margin-bottom: var(--margin-bottom-small);
  padding: 0 var(--24px) 0 var(--24px);
  position: absolute;
  bottom: 0;
}

.article_section {
  line-height: 1.75;
  margin: 0 auto var(--margin-bottom-large) auto;
  padding: 0 var(--24px) 0 var(--24px);
  max-width: var(--max-width-content);
}

.article_section:not(:last-child) {
  margin-bottom: 4rem;
}

.section_title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--24px);
  font-weight: 900;
}

.section_title img {
  background-color: var(--light-light-variation-deco-border);
  border-radius: 100%;
  padding: 0.35rem;
  /* display: none; */
}

/***** INFO CARDS *****/
.card_free {
  color: green;
  font-size: var(--18px);
  font-weight: 700;
  margin: var(--16px);
  text-align: center;
}

.cards_container {
  display: flex;
  flex-direction: column;
  gap: var(--24px);
}

.card_container {
  border-radius: var(--border-radius-infoscards);
  box-shadow: 2px 2px 20px 1px rgba(20, 26, 51, 0.3);
  flex-shrink: 0;
  flex-basis: 100%;
  padding: var(--24px);
}

.children {
  background-color: var(--children-card-bg);
}

.teens {
  background-color: var(--teens-card-bg);
}

.adults {
  background-color: var(--adults-card-bg);
}

.card_info,
.info_hours {
  border-bottom: 1px solid white;
  padding-bottom: var(--24px);
  margin-bottom: var(--24px);
}

.info_title,
.info_price,
.info_hours {
  color: white;
}

.info_title {
  font-weight: 400;
  margin-bottom: var(--24px);
}

.price {
  font-size: var(--32px);
  /* font-weight: 700; */
  margin-right: 1rem;
}

.info_hours {
  display: flex;
  gap: var(--16px);
}

.table_price {
  border-collapse: collapse;
  margin-bottom: var(--32px);
  width: 100%;
}

.table_price td {
  color: white;
  padding: 0.5rem 0 0.5rem 0.35rem;
}

.table_price span,
.note_title span {
  margin-right: 0.7rem;
}

.extra_price {
  text-align: right;
  font-size: var(--18px);
  font-weight: 700;
}

/* --- */
.section_documents {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-basic);
  margin: var(--32px) 0;
  overflow: hidden;
  transition: all ease-in-out 300ms;
}

.section_documents:hover {
  box-shadow: var(--box-shadow-basic-values);
}

.name_container {
  background-color: var(--light-light-variation-deco-border);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 300ms;
}

.expand_toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: var(--16px);
  transition: all ease-in-out 300ms;
}

.toggled {
  transform: rotate(180deg);
}

.content_container {
  background-color: white;
  max-height: 0px;
  transition: all ease-in-out 500ms;
}

.expanded {
  display: flex;
  flex-direction: column;
  max-height: 100rem;
}

.documents_name,
.documents_list {
  padding: var(--12px) var(--16px);
}

.documents_name {
  font-size: var(--18px);
}

.documents_list {
  list-style: circle;
  margin-left: var(--32px);
}

/* --- */
.section_note {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--16px);
}

.note_container {
  background-color: var(--background-light-wrapper);
  border-radius: var(--border-radius);
  padding: var(--24px) var(--24px) var(--10px) var(--24px);
  text-align: left;
  width: 100%;
}

.note_title {
  font-size: var(--20px);
}

.note_text {
  margin-bottom: var(--margin-bottom-small);
  padding-left: 2.4rem;
}

/* --- */
.location_text,
.location_address {
  margin-bottom: var(--16px);
}

.location_address {
  font-size: var(--18px);
  font-weight: 700;
  padding: var(--16px);
  text-align: center;
}

.map_iframe {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-basic);
  margin-top: var(--16px);
}

.bg_wrapper {
  /* background: url("../public/images/bg-mobile.svg") center no-repeat; */
  background-color: var(--background-light-wrapper);
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 2px;
}

/** MEDIA QUERIES **/
@media all and (min-width: 376px) and (max-width: 767px) {
  .main_title {
    font-size: 3rem;
  }
}

@media all and (min-width: 768px) {
  .main_title,
  .article_section {
    padding: 0 var(--48px) 0 var(--48px);
  }

  .main_title {
    font-size: 4rem;
  }

  .card_free {
    font-size: var(--20px);
    margin: var(--24px);
  }

  .section_title {
    font-size: var(--28px);
  }

  .section_note {
    flex-direction: row;
    justify-content: space-between;
  }

  .note_container {
    width: 47%;
  }

  .cards_container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
  }
}

@media all and (min-width: 900px) {
  .cards_container {
    justify-content: center;
    width: 100%;
  }

  .card_container {
    max-width: 40%;
  }
}

@media all and (min-width: 1024px) {
  .main_title {
    font-size: 5rem;
  }

  .card_free {
    font-size: var(--20px);
    margin: 1.5rem auto 2rem auto;
  }

  .card_container {
    max-width: 30%;
  }
}
