.section_title,
.section_text {
  margin-bottom: var(--16px);
}

.main_header {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.8)),
    url("../../public/images/infos.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: var(--16px);
  height: 15rem;
  position: relative;
}

.main_title {
  color: white;
  font-size: var(--32px);
  font-weight: 900;
  text-shadow: 2px 2px 20px rgb(20, 26, 51, 0.3);
  margin-bottom: var(--16px);
  padding: 0 var(--24px) 0 var(--24px);
  position: absolute;
  bottom: 0;
}

.main_article {
  padding: 0 var(--24px) 0 var(--24px);
}

.article_section {
  line-height: 1.75;
  margin-bottom: 4rem;
}

.section_title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--20px);
  font-weight: 900;
}

.section_title img {
  background-color: var(--light-light-variation-deco-border);
  border-radius: 100%;
  padding: 0.25rem;
  /* display: none; */
}

.table_hours,
.table_price {
  border-collapse: collapse;
  margin: auto;
  width: 98%;
}

.table_hours tr:not(:last-child),
.table_price tr:not(:last-child) {
  border-bottom: 1px solid var(--light-light-variation-deco-border);
}

.table_hours td,
.table_price td {
  color: var(--light-dark-variation-text);
  padding: 0.5rem 0;
}

.table_hours,
.table_price {
  margin-bottom: var(--32px);
}

.hours,
.price {
  text-align: right;
  font-weight: 700;
}

.section_note {
  font-size: var(--18px);
}

.note_text {
  margin-bottom: var(--16px);
  padding-left: 1.65rem;
}

.location_text,
.location_address {
  margin-bottom: var(--16px);
}

.location_address {
  font-size: var(--16px);
  font-weight: 700;
  text-align: center;
}

.map_iframe {
  margin-top: var(--16px);
}
