.main_header {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.8)),
    url("../public/images/VendômeCover.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: var(--16px);
  height: 15rem;
  position: relative;
}

.main_title {
  color: white;
  font-size: var(--32px);
  font-weight: 900;
  text-shadow: 2px 2px 20px rgb(20, 26, 51, 0.3);
  margin-bottom: var(--16px);
  padding: 0 var(--24px) 0 var(--24px);
  position: absolute;
  bottom: 0;
}

.intro_article {
  padding: 0 var(--24px) 0 var(--24px);
}

.main_image {
  margin-bottom: var(--16px);
}

.intro_article {
  margin-bottom: 3rem;
}

.intro_text {
  line-height: 1.75;
  margin-bottom: var(--16px);
}

.bg_wrapper {
  background: url("../public/images/bg-mobile.svg") center no-repeat;
  background-size: cover;
  padding-top: 3.5rem;
  padding-bottom: 2px;
}
