.form {
  display: flex;
  flex-direction: column;
}

.form_label {
  color: var(--light-darkest-variation-title);
  font-weight: 700;
  margin-bottom: var(--10px);
}

.label_required {
  font-weight: 400;
}

.form_input,
.form_text {
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  color: var(--light-dark-variation-text);
  margin-bottom: var(--24px);
  outline: 1px solid var(--light-medium-variation-nondeco-border);
  transition: all ease-in-out 300ms;
}

.form_input:focus,
.form_text:focus {
  border: 2px solid var(--light-primary-color);
  box-shadow: var(--box-shadow-basic);
}

.form_input {
  padding: var(--10px) var(--16px);
}

.form_text {
  padding: var(--16px);
}

.error_notification,
.error_form {
  background-color: #ffb62e;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-basic);
  margin: -1rem 0 1rem 0;
  padding: 0.5rem 1rem;
}

.error_notification p {
  color: var(--light-darkest-variation-title);
}

.error_form {
  background-color: red;
  margin-top: var(--16px);
}

.error_form p {
  color: white;
  font-weight: 700;
}

.form_button,
.modal_button {
  background-color: var(--light-primary-color);
  border: none;
  border-radius: var(--border-radius-button);
  box-shadow: var(--box-shadow-basic);
  color: white;
  cursor: pointer;
  font-size: var(--18px);
  font-weight: 700;
  padding: var(--10px);
  transition: all ease-in-out 300ms;
}

.form_button:hover,
.modal_button:hover {
  box-shadow: var(--box-shadow-basic-hover);
  transform: scale(1.02);
}

.form_button:active,
.modal_button:active {
  transform: scale(0.98);
}

.real_email {
  /* display: none; */
  position: absolute;
  left: -9999px;
  visibility: collapse;
}

.modal_bg {
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(5px);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: fixed;
}

.modal {
  border: 1px solid var(--light-medium-variation-nondeco-border);
  border-radius: var(--border-radius);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: var(--24px);
  position: absolute;
}

.modal_text {
  font-weight: 700;
  margin-bottom: var(--16px);
}

.modal_button {
  width: 100%;
}
