.section_poomsae {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-basic);
  margin: var(--16px) auto;
  overflow: hidden;
  transition: all ease-in-out 300ms;
}

.name_container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 300ms;
}

.bg_poomsaeyellow {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.4)),
    url("../../../public/images/belts/CJaune.jpg");
  background-size: cover;
  background-position: center;
}

.bg_poomsaeblue {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.4)),
    url("../../../public/images/belts/CBleu.jpg");
  background-size: cover;
  background-position: center;
}

.bg_poomsaered {
  background-image: linear-gradient(rgba(70, 130, 180, 0), rgb(20, 26, 51, 0.4)),
    url("../../../public/images/belts/CRouge.jpg");
  background-size: cover;
  background-position: center;
}

.poomsae_name {
  color: white;
}

.poomsae_name,
.poomsae_description,
.poomsae_list,
.poomsae_ressources {
  padding: var(--12px) var(--16px);
}

.poomsae_name {
  font-size: var(--18px);
}

.expand_toggler {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: var(--16px);
  transition: all ease-in-out 300ms;
}

.toggled {
  transform: rotate(180deg);
}

.content_container {
  max-height: 0px;
  transition: all ease-in-out 500ms;
}

.expanded {
  display: flex;
  flex-direction: column;
  max-height: 120rem;
}

.poomsae_image {
  padding: var(--16px);
  margin-bottom: var(--margin-bottom-small);
}

.poomsae_ressources {
  border-top: 1px solid var(--light-light-variation-deco-border);
  font-size: var(--18px);
}

.poomsae_actions {
  display: flex;
  flex-direction: column;
}

.action_container {
  background-color: var(--background-light-wrapper);
  border-radius: var(--border-radius);
  font-size: var(--16px);
  margin: 0 var(--16px) var(--margin-bottom-small) var(--16px);
  padding: var(--24px) var(--16px);
}

.action_icon {
  background-color: var(--light-light-variation-deco-border);
  border-radius: 100%;
  box-shadow: var(--box-shadow-basic-values);
  margin: 0 auto var(--24px) auto;
  padding: 0.75rem;
}

.action_button {
  background-color: var(--light-primary-color);
  border-radius: var(--border-radius-button);
  box-shadow: var(--box-shadow-basic);
  color: white;
  cursor: pointer;
  list-style: none;
  margin: 0 auto;
  max-width: 80%;
  padding: var(--16px);
  text-align: center;
  transition: all ease-in-out 300ms;
}

.action_button:hover {
  box-shadow: var(--box-shadow-hover);
}

/** MEDIA QUERIES **/
@media all and (min-width: 768px) {
  .poomsae_name,
  .poomsae_description,
  .poomsae_list,
  .poomsae_ressources,
  .poomsae_image {
    padding: var(--12px) var(--24px);
  }

  .poomsae_image {
    margin-bottom: var(--margin-bottom-large);
  }

  .poomsae_actions {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 var(--24px) var(--24px) var(--24px);
  }

  .action_container {
    width: 48%;
    margin: 0;
  }

  .action_button {
    padding: var(--16px) var(--24px);
  }
}

@media all and (min-width: 1025px) {
  .poomsae_image {
    max-width: 70%;
    margin: 0 auto var(--margin-bottom-large) auto;
  }
}

@media all and (min-width: 1440px) {
  .poomsae_image {
    max-width: 70%;
  }
}
